html, body {
    margin: 0 !important;
    padding: 0 !important;
}

#container {
    position: relative;
}

#container #main_canvas, .overlay_container {
    position: absolute;
}

.overlay {
    margin:3px;
    color: #fffdda;
    font-size: 8;
    font-family: 'Space Mono', monospace;
}

#help{
    color:rgba(0,0,0,0);
}
#help:hover{
    color: #fffdda;
}

.overlay_container {
    display: flex;
}


